/* classes */
.center {
	margin-left: auto;
	margin-right: auto;
}
.text-center {
	text-align: center;
}
.monospace {
	font-family: monospace;
}
/* end classes */
/* structure */
body {
	min-width: 30ch;
}
nav {
	margin-top: 1ch;
	position: fixed;
	width: 3ch;
	font-family: monospace;
	font-size: smaller;
}
nav a {
	float: left;
	width: 3ch;
	margin-bottom: 1ch;
	text-align: center;
}
div#margin-box {
	margin-left: 2ch;
}
div#paper, div#links {
	max-width: 84ch;
}
article {
	padding-top: 3ch;
	margin-left: 3ch;
	margin-right: 2ch;
	padding-bottom: 2ch;
}
header {
	padding-bottom: 8ch;
}
div#links {
	padding-top: 2ch;
	padding-bottom: 2ch;
}
div#links a {
	margin-top: 0.5ch;
	display: inline-block;
}
/* end structure */
/* styling */
body {
	/* found here: http://uigradients.com/, named 'clouds' */
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: sans-serif;
}
header, footer {
	font-size:0.8em;
	font-family: monospace;
}
nav a, div#links a {
	border: solid thin;
}
div#paper, nav a:hover, div#links a:hover {
	border: solid;
}
article {
	line-height:140%;
	word-wrap:break-word;
}
pre {
	color:white;
	background-color:black;
	overflow-x:auto;
	word-wrap:normal;
	max-width:95%;
	margin: auto;
	padding: 1ch;
}
code,.quote {
	line-height:normal;
}
a {
	color:inherit;
}
body a {
	padding: 1ch;
	text-decoration: none;
}
div#paper a {
	padding: initial;
	border-bottom: solid thin;
}
p {
	text-align:justify;
}
h1 {
	text-align: center;
	margin-bottom: 4ch;
	text-transform: uppercase;
}
h2 {
	border-left:solid;
	padding-left:2ch;
	margin-top: 4ch;
}
h1, h2, h3, h4, h5, h6 {
	font-family: serif;
}
div#paper, body a {
	background: white;
}
footer {
	border-top: thin solid gray;
	word-break:break-all;
}
ul {
	list-style-type: hebrew;
}
footer ul {
	list-style-type: none;
	padding-left: 0;
}
/* end styling */
